<h2>Все смайлы</h2>
<div class="searchSmile">
  Поиск : <input type="text" [(ngModel)]="names"/>
</div>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Название</th>
      <th>Адрес</th>
      <th>Превью</th>
      <th colspan="2">Действие</th>
    </tr>
  </thead>
  <tr
    *ngFor="
      let emoji of emojis | filter:names | paginate: { itemsPerPage: 10, currentPage: p };
      let ind = index
    "
  >
    <td class="align-middle">{{ emoji.name }}</td>
    <td class="align-middle">{{ emoji.citation }}</td>
    <td
      class="align-middle"
      [class.qwert1]="mainService.getSelected(emoji.name)"
    >
      <img
        [class.qwert]="mainService.getSelected(emoji.name)"
        width="25px"
        height="25px"
        src="{{ emoji.citation }}"
      />
    </td>
    <td class="align-middle">
      <button
        class="btn btn-success rounded-circle"
        (click)="mainService.getPlus(emoji.name, emoji.citation, ind)"
        [disabled]="mainService.getSelected(emoji.name)"
      >
        +
      </button>
    </td>
    <td class="align-middle">
      <button
        class="btn btn-danger"
        (click)="mainService.getDelEmoji(emoji.name, emoji.citation, ind)"
        [disabled]="mainService.getSelected(emoji.name)"
      >
        -
      </button>
    </td>
  </tr>
</table>

<pagination-controls
  class="d-flex justify-content-center"
  (pageChange)="p = $event"
></pagination-controls>
