<h2>Любимые смайлы</h2>
<div class="searchSmile">
    Поиск : <input type="text" [(ngModel)]="names" (input)="Search()"/>
</div>
<table class="table table-bordered">
        <thead class="thead-light">
        <tr><th>Название</th><th>Адрес</th><th>Превью</th><th colspan="2">Действие</th></tr>
        </thead>
        <tr *ngFor="let emoji of emojisLike | paginate: {itemsPerPage: 10, currentPage: p}; let ind = index">
            <td>{{ emoji.name }}</td>
            <td>{{ emoji.citation }}</td>
            <td><img width="25px" height="25px" src="{{ emoji.citation }}"></td>
            <td><button class="btn btn-danger" (click)="mainService.getNotEmoji(ind)">-</button></td>
        </tr>
    </table>
    <pagination-controls class="d-flex justify-content-center" (pageChange)="p = $event"></pagination-controls>

    
   