<h2>Любимые смайлы</h2>
<div class="searchSmile">
  <input type="text" placeholder="Найти" [(ngModel)]="names"/>
</div>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Название</th>
      <th>Адрес</th>
      <th>Превью</th>
      <th colspan="2">Действие</th>
    </tr>
  </thead>
  <tr
    *ngFor="
      let emoji of emojisLike | filter: names | paginate: { itemsPerPage: 10, currentPage: p };
      let ind = index
    "
  >
    <td class="align-middle">{{ emoji.name }}</td>
    <td class="align-middle">{{ emoji.citation }}</td>
    <td class="align-middle">
      <img width="25px" height="25px" src="{{ emoji.citation }}" />
    </td>
    <td class="align-middle">
      <button class="btn btn-danger" (click)="mainService.getNotEmoji(ind)">
        ✗
      </button>
    </td>
  </tr>
</table>

<pagination-controls
  class="d-flex justify-content-center"
  (pageChange)="p = $event"
></pagination-controls>
