h2 {
    text-align: center;
}

table {
    
    text-align: center;
    
}

.qwert {
    width: 35px;
    height: 35px;
}

.qwert1{
    box-shadow: inset 2px 2px 5px rgb(8, 250, 0), 1px 1px 5px rgba(30, 255, 0, 0.993);
}

.searchSmile{
    text-align: end;
}

td {
    word-break: break-all ;
}

td img:hover {
    transition: 1s;
    position: absolute;
    transform: scale(4);
}

.container {
    min-height: 500px;
}


