h2 {
    text-align: center;
    font-family: comic sans ms;
}

table {
    text-align: center;
}

.qwert1{
    box-shadow: inset 2px 2px 5px rgb(27, 2, 255), 1px 1px 5px rgba(4, 0, 255, 0.993);
}

.searchSmile{
    text-align: end;
}

input{
    border: 1px solid #dee2e6
}

td {
    word-break: break-all ;
    height: 73px;
}

td img:hover {
    transition: 1s;
    position: absolute;
    transform: scale(4);
}

.colorNav{
    background:#e9ecef;
    border-color: #dee2e6;
}

.searchSmile{
    margin-bottom: 10px;
}

nav{
    margin-top: 45px;
}

.container{
    background-color: #f9fad59d
}
